
    <h1>Is it safe to return to church?</h1>
    <div class="outcome text-danger">NO</div>
    <div class="alert alert-danger" role="alert">The Florida Department of Health recommends refraining from gatherings of more than 10 people</div>
    <div class="alert alert-danger" role="alert">The Florida Department of Health recommends avoiding crowds</div>
    <div class="alert alert-danger" role="alert">Positivity rate of 4.03% is too high</div>

    <h1>Do I need to wear a mask?</h1>
    <div class="outcome text-danger">YES</div>
    <div class="alert alert-danger" role="alert">The Florida Department of Health recommends wearing a face covering when in public</div>

    <p>Last updated Monday, September 21 at 15:17 PM</p>
