
    <h1>Is it safe to return to church?</h1>
    <div class="outcome text-danger">NO</div>
    <div class="alert alert-danger" role="alert">Positivity rate of 10.98% is above the 5.0% threshold for reopening announced in April 2020</div>
    

    <p>NOTE: Guidance from the Florida Department of Health says "If you are around other people, keep 6 feet between you when possible. Avoid hugs, handshakes, large gatherings and close quarters."</p>

    <h1>Do I need to wear a mask?</h1>
    <div class="outcome text-success">YES</div>
    <div class="alert alert-info" role="alert">The Florida Department of Health recommends wearing a face covering when in public</div>

    <p>Last updated Tuesday, January 26 at 15:17 PM</p>
